.vh100{
    height: 100vh;
}
.em30{
    height: 40em;
}
.row{
    --bs-gutter-x : 0px;
}
.hover-effect::after{
    content: "";
    height: 1.5px;
    background: red;
    position: absolute;
    top: 30px;
    left: 0px;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
    /* transform-origin: center; */
}

.hover-effect:hover::after{
    transform-origin: center;
    width: 80%;  
    transform: scale(1);
}
.input-container{
    min-width: 200px;
}
.input::-webkit-outer-spin-button, .input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.input{
    transition: 0.2s ease-in-out;
    z-index: 10000;
}
.label{
    top: 10px;
    left: 5px;
    transition: 0.2s ease-in-out;
    z-index: 100;
    pointer-events: none;
}
.input:valid, .input:focus{
    border: 1px solid #2993e3;
}
.input:valid + .label, .input:focus + .label{
    transform: translate(0px, -20px) scale(0.9);
    z-index: 100;
}

.loading{
    height: 50px;
    width: 50px;
}