.vh100{
    height: 100vh;
}
.em50{
    height: 50em;
}
.row{
    --bs-gutter-x : 0px;
}
.hover-effect::after{
    content: "";
    height: 1.5px;
    background: red;
    position: absolute;
    top: 30px;
    left: 0px;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
    /* transform-origin: center; */
}

.hover-effect:hover::after{
    transform-origin: center;
    width: 80%;  
    transform: scale(1);
}
.input-container{
    min-width: 200px;
}
.input::-webkit-outer-spin-button, .input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}